@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto:wght@100;400;700&display=swap");

:root {
  --primary: #059669;
  --primary-dark: #064e3b;
  --primary-light: #ecfdf5;
  --primary-100: #d1fae5;
  --primary-200: #a7f3d0;

  -secondary: #e0e7ff;

  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;

  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;

  --yellow-100: #fef3c7;
  --yellow-200: #fde68a;
  --yellow-300: #fcd34d;

  --purple-100: #ede9fe;
  --purple-200: #ddd6fe;
  --purple-300: #c4b5fd;

  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: var(--grey-600);
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: var(--grey-500);
  display: flex;
  flex-direction: column;
  background-image: url("/images/freebackground.jpg");
}
header {
  height: 5rem;
}

main {
  flex: auto;
}

footer {
  height: 2rem;
}
